.container {
    background-color: #FAFAFA;
    border: 1px solid #E7E7E7;
    margin-top: 5vh;
    width: 535px;
}

.perfil {
    display: flex;
    align-items: center;
}

.perfil img {
    border-radius: 50%;
    margin: 10px;
    width: 2em;
}

.perfil h4 {
    color: #1A1A1A;
    margin-left: 5px;
    font-size: .8em;
    font-weight: 450;
}

.perfil p {
    color: #8C8C8C;
    font-size: .6em;
    margin: 3px 0 0 5px;
}

.public img {
    width: 533px;
}

.react button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #1A1A1A;
    margin: 0 8px;
}

.totalLikes h6 {
    font-size: .9em;
    font-weight: 500;
    margin-bottom: 5px;
}

.footer {
    display: flex;
    margin: 10px;
}

.footer p {
    font-weight: lighter;
    color: #333333;
}

.viewComment p {
    color: #8C8C8C;
    font-size: .9em;
    margin: 8px 0 0 0;
}

.footer h5 {
    color: #1A1A1A;
}

.hour p {
    text-transform: uppercase;
    color: #8C8C8C;
    font-size: .6em;
    margin: 15px 0 20px 10px;
}

.comments {
    display: flex;
    align-items: center;
    margin: 10px;
    border-top: solid 1px #f1f1f1;
    padding-top: 10px;
}

.comments a {
    margin-right: 10px;
    color: #1A1A1A;
}

.comments input {
    outline: none;
    border: none;
    background-color: #FAFAFA;
    color: #1A1A1A;
    width: 80%;
    font-size: .75em;
}

.comments input::placeholder {
    color: #8C8C8C;
}

.comments p {
    cursor: pointer;
    color: #0077ff7e;
    font-size: .75em;
    margin: 0 0 0 35px;
}

@media (max-width: 575px) {
    .container {
        width: 100%;
        margin: 8px 0 20px 0;
    }

    .public img {
        width: 100%;
    }
}